/server/InterviewHub.API/bin
/server/InterviewHub.API/obj
/server/InterviewHub.Application/bin
/server/InterviewHub.Application/obj
/server/InterviewHub.Domain/bin
/server/InterviewHub.Domain/obj
/server/InterviewHub.Persistence/bin
/server/InterviewHub.Persistence/obj
/server/.vs
.idea/

/server/.vs
/server/obj
/server/bin

node_modules
