/server-test/InterviewHub.API/InterviewHub.API.csproj
/server-test/InterviewHub.API/bin
/server-test/InterviewHub.API/obj
/server-test/InterviewHub.Application/bin
/server-test/InterviewHub.Application/obj
/server-test/InterviewHub.Domain/bin
/server-test/InterviewHub.Domain/obj
/server-test/InterviewHub.Persistence/bin
/server-test/InterviewHub.Persistence/obj
/server-test/.vs
.idea/

/server/.vs
/server/obj
/server/bin